body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}

header{
  padding: 20px;
  background: #f4f4f4;
  height: 40px;
}

.container{
  width: 1140px;
  margin: auto;
}

.logo{
  font-size: 28px;
  font-weight: bold;
  float: left;
  color: #007bff;
}

.nav-link{
  float: right;
}

.nav-link li{
  display: inline-block;
  margin: 10px;
  color: #333;
  cursor: pointer;
}

.nav-link li:hover{
  color: #007bff;
}

.hero-section{
  height: 450px;
}

.hero-section img{
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: 0% 52%;
}

section{
  width: 100%;
  text-align: center;
  padding: 50px 0px;
  background: #007bff;
  color: white;
  overflow: hidden;
}

section h1{
  margin-bottom: 20px;
}

section p{
  font-size: 20px;
}

.donation-options{
  text-align: center;
  padding: 30px 0px;
  background: #f4f4f4;
  color: #333;
}

.donation-options h2{
  margin: 8px 0px;
}

.donation-options p{
  margin: 8px 0px;
}

.donation-buttons{
  margin: 16px 0px;
}

button{
  margin: 10px ;
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover{
  background: #0056b3;
}

input{
  width: 200px;
  margin-top: 4px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cta-button{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.cta-button:hover{
  background: #218838;
}

footer{
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}

.social-links a{
  color: #007bff;
  background: #333;
  text-decoration: none;
}

.social-links a:hover{
  color: #0056b3;
}



