*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #f4f4f4;
}

.sidebar{
  width: 20%;
  height: 100vh;
  background: #0075ff;
  position: fixed;
}

.logo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 36px;
}

.container_links{
  width: 100%;
  margin: 80px 0px;
}

ul{
  padding: 0px 36px;
}

li{
  display: block;
  padding: 12px 16px;
  font-size: 16px;
  margin: 16px 0px;
  color: #f4f4f4;
  cursor: pointer;
}

.logout{
  margin-top: 200px;
}

li:hover{
  background: #004699;
  border-radius: 4px;
}


